<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100" alt="Angular Logo"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div>
  <div>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="subMenu">Frontend</button>
      <button mat-menu-item>Backend</button>
    </mat-menu>
  </div>

  <div>
    <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
  </div>

  <div>
    <mat-menu #subMenu="matMenu">
      <button mat-menu-item>Angular</button>
      <button mat-menu-item>React</button>
      <button mat-menu-item>Vue</button>
    </mat-menu>
  </div>
</div>

<div>
  <div>
    <mat-menu #appMenu2="matMenu" xPosition="after" yPosition="above">
      <button mat-menu-item [matMenuTriggerFor]="subMenu2">Java</button>
      <button mat-menu-item>Python</button>
    </mat-menu>
  </div>

  <div>
    <button class="center" mat-flat-button [matMenuTriggerFor]="appMenu2">Menu 2</button>
  </div>

  <div>
    <mat-menu #subMenu2="matMenu">
      <button mat-menu-item>Spring</button>
      <button mat-menu-item>Hibernate</button>
      <button mat-menu-item>Maven</button>
    </mat-menu>
  </div>
</div>


<div>
  <div>
    <mat-menu #lazyNenu="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Log Out</button>
      </ng-template>
    </mat-menu>
  </div>

  <div>
    <button  mat-raised-button [matMenuTriggerFor]="lazyNenu">Job</button>
    <button mat-raised-button  [matMenuTriggerFor]="lazyNenu">Matthew</button>
  </div>
</div>

<div>
  <div>
    <mat-menu #lazyNenu2="matMenu">
      <ng-template matMenuContent let-name="name">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Log Out {{name}}</button>
      </ng-template>
    </mat-menu>
  </div>

  <div>
    <button  mat-raised-button [matMenuTriggerData]="{name: 'Samuel'}" [matMenuTriggerFor]="lazyNenu2">Samuel</button>
    <button mat-raised-button [matMenuTriggerData]="{name: 'Ayobami'}" [matMenuTriggerFor]="lazyNenu2">Ayobami</button>
  </div>
</div>






<router-outlet></router-outlet>
